@using Bank.Common.Extensions
@model Bank.Application.Bank.Queries.GetBankStatistics.BankStatisticsViewModel

<div class="card w-75">
    <div class="card-header text-center list-group-item-primary">Bank statistics</div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 text-right">
                Total customers:
            </div>
            <div class="col-6 text-left">
                @Model.TotalCustomers
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-right">
                Total accounts:
            </div>
            <div class="col-6 text-left">
                @Model.TotalAccounts
            </div>
        </div>
    </div>
    <div class="card-footer list-group-item-primary">
        <div class="row">
            <div class="col-6 text-left">
                Total balance:
            </div>
            <div class="col-6 text-right font-weight-bold">
                @Model.TotalBalance.ToSwedishKrona()
            </div>
        </div>
    </div>
</div>