
<form asp-controller="Customer" asp-action="CustomerDetails" method="get">
    <div class="form-group">
        <label for="customer-id">Customer ID</label>
        <input class="form-control" type="number" name="id" id="customer-id" />
    </div>
    <div class="form-group text-right">
        <button class="btn btn-custom">Search</button>
    </div>
</form>