@model Bank.Application.Customers.Commands.CreateCustomer.CreateCustomerCommand

@{
    ViewData["Title"] = "Register Customer";
}




<div class="container pt-3">

    @if (TempData["Message"] != null)
    {
        <partial name="_AlertSuccess" />
    }
    @if (TempData["Error"] != null)
    {
        <partial name="_AlertError" />
    }

    <h1>Register new customer</h1>
    <p class="lead">Fields marked with * are required.</p>


    <form asp-controller="Customer" asp-action="Register" method="POST" class="pt-2">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Profile.GivenName"></label> *
                <input asp-for="Profile.GivenName" class="form-control">
                <small><span asp-validation-for="Profile.GivenName"></span></small>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Profile.Surname"></label> *
                <input asp-for="Profile.Surname" class="form-control">
                <small><span asp-validation-for="Profile.Surname"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Profile.Address.StreetAdress"></label> *
                <input asp-for="Profile.Address.StreetAdress" class="form-control">
                <small><span asp-validation-for="Profile.Address.StreetAdress"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Profile.Address.ZipCode"></label> *
                <input asp-for="Profile.Address.ZipCode" class="form-control">
                <small><span asp-validation-for="Profile.Address.ZipCode"></span></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Profile.Address.City"></label> *
                <input asp-for="Profile.Address.City" class="form-control">
                <small><span asp-validation-for="Profile.Address.City"></span></small>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Profile.Address.CountryCode"></label> *
                <input asp-for="Profile.Address.CountryCode" class="form-control">
                <small><span asp-validation-for="Profile.Address.CountryCode"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Profile.Address.Country"></label> *
                <input asp-for="Profile.Address.Country" class="form-control">
                <small><span asp-validation-for="Profile.Address.Country"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Profile.EmailAdress"></label>
                <input asp-for="Profile.EmailAdress" class="form-control">
                <small><span asp-validation-for="Profile.EmailAdress"></span></small>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Profile.TelephoneCountryCode"></label>
                <input asp-for="Profile.TelephoneCountryCode" class="form-control">
                <small><span asp-validation-for="Profile.TelephoneCountryCode"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Profile.TelephoneNumber"></label>
                <input asp-for="Profile.TelephoneNumber" class="form-control">
                <small><span asp-validation-for="Profile.TelephoneNumber"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Profile.Birthday"></label>
                <input asp-for="Profile.Birthday" type="text" class="form-control date-picker">
                <small><span asp-validation-for="Profile.Birthday"></span></small>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Profile.NationalId"></label>
                <input asp-for="Profile.NationalId" class="form-control">
                <small><span asp-validation-for="Profile.NationalId"></span></small>
            </div>
        </div>

        <div class="form-group">
            <span>Gender *</span>
        </div>

        <div class="form-group">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Profile.Gender" value="male">Male
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Profile.Gender" value="female">Female
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Profile.Gender" value="other">Other
                </label>
            </div>
            <br />
            <small><span asp-validation-for="Profile.Gender"></span></small>
        </div>

        <div class="form-group pt-2">
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
</div>

@section scripts
{
    <script>
        $('.date-picker').datepicker({
            language: "sv",
            autoclose: "true",
            format: "yyyy-mm-dd",
        });
    </script>
}