@model Bank.Application.Customers.Commands.CreateCustomer.CreateCustomerCommand

@{
    ViewData["Title"] = "Register Customer";
}




<div class="container pt-3">

    @if (TempData["Message"] != null)
    {
        <partial name="_AlertSuccess"/>
    }
    @if (TempData["Error"] != null)
    {
        <partial name="_AlertError"/>
    }

    <h1>Register new customer</h1>
    <p class="lead">Fields marked with * are required.</p>


    <form asp-controller="Customer" asp-action="Register" method="POST" class="pt-2">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="GivenName"></label> *
                <input asp-for="GivenName" class="form-control">
                <small><span asp-validation-for="GivenName"></span></small>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Surname"></label> *
                <input asp-for="Surname" class="form-control">
                <small><span asp-validation-for="Surname"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Streetadress"></label> *
                <input asp-for="Streetadress" class="form-control">
                <small><span asp-validation-for="Streetadress"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Zipcode"></label> *
                <input asp-for="Zipcode" class="form-control">
                <small><span asp-validation-for="Zipcode"></span></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="City"></label> *
                <input asp-for="City" class="form-control">
                <small><span asp-validation-for="City"></span></small>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="CountryCode"></label> *
                <input asp-for="CountryCode" class="form-control">
                <small><span asp-validation-for="CountryCode"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Country"></label> *
                <input asp-for="Country" class="form-control">
                <small><span asp-validation-for="Country"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="EmailAdress"></label>
                <input asp-for="EmailAdress" class="form-control">
                <small><span asp-validation-for="EmailAdress"></span></small>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="TelephoneCountryCode"></label>
                <input asp-for="TelephoneCountryCode" class="form-control">
                <small><span asp-validation-for="TelephoneCountryCode"></span></small>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="TelephoneNumber"></label>
                <input asp-for="TelephoneNumber" class="form-control">
                <small><span asp-validation-for="TelephoneNumber"></span></small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" class="form-control">
                <small><span asp-validation-for="Birthday"></span></small>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="NationalId"></label>
                <input asp-for="NationalId" class="form-control">
                <small><span asp-validation-for="NationalId"></span></small>
            </div>
        </div>

        <div class="form-group">
            <span>Gender *</span>
        </div>

        <div class="form-group">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Gender" value="male">Male
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Gender" value="female">Female
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" asp-for="Gender" value="other">Other
                </label>
            </div>
            <small><span asp-validation-for="Gender"></span></small>
        </div>

        <div class="form-group pt-2">
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
</div>

